.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: Arial;

    &__list {
        display: flex;
        list-style: none;
        position: relative;
        width: 100%;
        height: 500px;
        justify-content: center;
        perspective: 500px;
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        color: #fff;
        font-size: 0px;
        width: 400px;
        min-height: 500px;
        border-radius: $border-radius;
        box-shadow: 0px 2px 8px 0px rgba($grey-color, 0.5);
        position: absolute;
        transition: all .3s ease-in;

        &:nth-child(6) {
            background: linear-gradient(45deg, $main-color4 0%, $main-color1 100%);
        }

        &:nth-child(2) {
            background: linear-gradient(45deg, $main-color1 0%, $main-color2 100%);
        }

        &:nth-child(1) {
            background: linear-gradient(45deg, $main-color2 0%, $main-color3 100%);
        }

        &:nth-child(3) {
            background: linear-gradient(45deg, $main-color3 0%, $main-color1 100%);
        }

        &:nth-child(4) {
            background: linear-gradient(45deg, $main-color1 0%, $main-color2 100%);
        }

        &:nth-child(7) {
            background: linear-gradient(45deg, $main-color2 0%, $main-color3 100%);
        }

        &:nth-child(5) {
            background: linear-gradient(45deg, $main-color3 0%, $main-color4 100%);
        }

        @media screen and (max-width: 780px) {
            width: 300px;
            min-height: 500px;

            p {
                font-size: 16px;
                margin-bottom: 0.2em;
            }

            @media screen and (max-width: 630px) {
                width: 250px;
                min-height: 450px;
                padding: 20px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 5;
        }

        &[data-pos="0"] {
            z-index: 5;
        }

        &[data-pos="-1"],
        &[data-pos="1"] {
            opacity: 0.6;
            filter: blur(1px) grayscale(10%);
        }

        &[data-pos="-1"] {
            transform: translateX(-30%) scale(.9);
            z-index: 4;
        }

        &[data-pos="1"] {
            transform: translateX(30%) scale(.9);
            z-index: 4;
        }

        &[data-pos="-2"],
        &[data-pos="2"] {
            opacity: 0.4;
            filter: blur(3px) grayscale(20%);
        }

        &[data-pos="-2"] {
            transform: translateX(-60%) scale(.8);
            z-index: 3;
        }

        &[data-pos="2"] {
            transform: translateX(60%) scale(.8);
            z-index: 3;
        }

        &[data-pos="-3"],
        &[data-pos="3"] {
            opacity: 0.2;
            filter: blur(3px) grayscale(30%);
        }

        &[data-pos="-3"] {
            transform: translateX(-90%) scale(.7);
            z-index: 2;
        }

        &[data-pos="3"] {
            transform: translateX(90%) scale(.7);
            z-index: 2;
        }

        @media screen and (max-width: 1100px) {

            &[data-pos="-1"] {
                transform: translateX(-20%) scale(.9);
            }

            &[data-pos="1"] {
                transform: translateX(20%) scale(.9);
            }


            &[data-pos="-2"] {
                transform: translateX(-40%) scale(.8);
            }

            &[data-pos="2"] {
                transform: translateX(40%) scale(.8);
            }


            &[data-pos="-3"] {
                transform: translateX(-60%) scale(.7);
            }

            &[data-pos="3"] {
                transform: translateX(60%) scale(.7);
            }

            @media (max-width: 630px) {
                &[data-pos="-1"] {
                    transform: translateX(-15%) scale(.9);
                }

                &[data-pos="1"] {
                    transform: translateX(15%) scale(.9);
                }


                &[data-pos="-2"] {
                    transform: translateX(-30%) scale(.8);
                }

                &[data-pos="2"] {
                    transform: translateX(30%) scale(.8);
                }


                &[data-pos="-3"] {
                    transform: translateX(-45%) scale(.7);
                }

                &[data-pos="3"] {
                    transform: translateX(45%) scale(.7);
                }

                @media (max-width: 500px) {
                    &[data-pos="-1"] {
                        transform: translateX(-10%) scale(.9);
                    }

                    &[data-pos="1"] {
                        transform: translateX(10%) scale(.9);
                    }


                    &[data-pos="-2"] {
                        transform: translateX(-20%) scale(.8);
                    }

                    &[data-pos="2"] {
                        transform: translateX(20%) scale(.8);
                    }


                    &[data-pos="-3"] {
                        transform: translateX(-30%) scale(.7);
                    }

                    &[data-pos="3"] {
                        transform: translateX(30%) scale(.7);
                    }
                }
            }
        }

        &:hover {
            transition: all 0.3s ease-out;
            opacity: 1;
        }

        p {
            margin-bottom: 10px;
        }

        img {
            border-radius: $border-radius;
            max-width: 100%;
        }
    }
}